.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5.5rem;
    background-color: rgb(38, 38, 38);

    .logoContainer{
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo{
            padding-left: 2.5rem;
            height: 3.5rem;
        }

        .title{
            font-size: 2.75rem;
            font-weight: strong;
            padding-left: 1.5rem;
            color: white;
        }
    }

    .linksContainer{
        display: flex;
        justify-content: space-evenly;
        width: 25%;

        .links{
            font-size: 1.5rem;
            color: black;
            text-decoration: none;
        }

        .navBtn{
            background-color: white;
            border: none;
            padding: {
                top: 0.25rem;
                bottom: 0.25rem;
                left: 0.5rem;
                right: 0.5rem;
            };
            border-radius: .5rem;
        }
    }
}