* {
  margin: 0;
  padding: 0;
  font-family: batman2;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  background-color: rgb(95, 95, 95);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5.5rem;
  background-color: rgb(38, 38, 38);
}
.nav .logoContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav .logoContainer .logo {
  padding-left: 2.5rem;
  height: 3.5rem;
}
.nav .logoContainer .title {
  font-size: 2.75rem;
  font-weight: strong;
  padding-left: 1.5rem;
  color: white;
}
.nav .linksContainer {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
}
.nav .linksContainer .links {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}
.nav .linksContainer .navBtn {
  background-color: white;
  border: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
}

.loginBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginBody .loginSection {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(41, 41, 41);
  padding: 1rem;
  border-radius: 0.5rem;
}
.loginBody .loginSection .loginForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.loginBody .loginSection .loginForm .loginArea {
  color: black;
  margin: 1rem;
}
.loginBody .loginSection .loginForm .loginArea .input {
  font-size: 1.5rem;
}
.loginBody .loginSection .loginForm .submitButton {
  width: 55%;
  font-size: 1.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 1rem;
  border: none;
}
.loginBody .loginSection .gotIt {
  color: white;
  font-size: 1rem;
  margin-top: 1.5rem;
}
.loginBody .loginSection .gotIt .account {
  color: black;
  font-size: 1.2rem;
  color: white;
}

.signBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signBody .signSection {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(41, 41, 41);
  padding: 1rem;
  border-radius: 0.5rem;
}
.signBody .signSection .signForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.signBody .signSection .signForm .signArea {
  color: black;
  margin: 1rem;
}
.signBody .signSection .signForm .signArea .input {
  font-size: 1.5rem;
}
.signBody .signSection .signForm .submitButton {
  width: 30%;
  font-size: 1.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 1rem;
  border: none;
}
.signBody .signSection .gotIt {
  color: white;
  font-size: 1rem;
  margin-top: 1.5rem;
}
.signBody .signSection .gotIt .account {
  color: black;
  font-size: 1.2rem;
  color: white;
}

#cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#cardContainer .blogCard {
  width: 25vw;
  height: 20vh;
  border: 0.5em solid black;
  margin: 0.5em;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#cardContainer .blogCard .imageCont {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#cardContainer .blogCard .imageCont .blogImage {
  width: 80%;
  height: auto;
}
#cardContainer .blogCard .blogContent {
  width: 45%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.25rem;
  padding-left: 0.5rem;
  text-align: left;
  text-decoration: none;
}
#cardContainer .blogCard .blogContent .blogTitle {
  font-size: 2rem;
}
#cardContainer .blogCard .blogContent .blogAuthor {
  font-size: 1rem;
}

.individualPost {
  text-align: center;
}
.individualPost img {
  width: 50vw;
}

.stretch {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */